{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [">0.25%", "not ie 11", "not op_mini all"]
        }
      }
    ],
    "react",
    "stage-0",
    "flow"
  ],
  "plugins": ["styled-jsx/babel", "transform-runtime", "react-hot-loader/babel"],
  "retainLines": true
}
